<form action="/api/login" id="loginform" method="POST">
  <div class="container login">
      <h1>Sign In</h1>
      <p>Enter your details to sign in.</p>
      <p id="formerror" class="formclear"></p>
      <hr>
    <label for="email">Email</label>
    <input type="email" placeholder="Enter Email" name="email" required>

    <label for="password">Password</label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <button type="submit" class="registerbtn">Login</button>
  </div>

 
</form>